.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .navbarContainer {
    display: flex;
    justify-content: space-between;

  }
  
  .logo {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin-right: 20px;
    text-decoration: none;
  }
  
  .navbarLink {
    margin-right: 20px;
    color: #000;
    text-decoration: none;
  }
  
   .dropdown {
    position: relative;
    list-style: none;
    margin-right: 20px;
  } 
  
   .dropdownToggle {
    display: block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
  } 
  
  .dropdownMenu {
    top: 100%;
    left: 0;
    list-style: none;
    background-color: #f2f2f2;
    margin-top: 2px;
  }
   
  .dropdownItem {
    margin-bottom: 5px;
  }
  
  .dropdownMenuItem {
    display: block;
    color: #000;
    text-decoration: none;
  }
  
  .loginLink {
    color: #000;
    text-decoration: none;
  }
  